.creditosBg{
    background-color: #228CA5!important;
    color:white!important;
    font-family: "Saira"
}

.creditosBg h2, h3,h1{
    
    color:white!important;
    font-family: "Saira"
}

.form_container_c{
    width: 50%;
    margin-top: 10%;
    margin-left: 15%;
    
}



.der_form{
    background-color: #00A6B7!important;
    color:white!important;
    padding:0px!important;
    padding-top: 15px!important;
    position:relative
    
   
  
}

.izq_form{
    background-color: #FFFFFF!important;
    color:#004B72!important;
   
    
}

.item_c > h3{
    margin-bottom: 0px;
}

.item_c > h2{
    margin-top: 1px;
}

.item_c{ 
    margin-bottom: 25px;
    padding-left: 7%;
}

.endf{
    background-color: #228CA5;
    margin-bottom: 0px!important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shadow{
    -webkit-box-shadow: 12px 9px 4px -2px rgba(107,106,107,1);
-moz-box-shadow: 12px 9px 4px -2px rgba(107,106,107,1);
box-shadow: 12px 9px 4px -2px rgba(107,106,107,1);

}


.tarjeta_img{
    position: absolute;
    top: -97px;
    left: -79px;
    z-index:999;    
}

.tarjeta_contanier{
    position:relative;
    height: 200px;
}

.vineta1{
    position:absolute;
    left:80%
}